#input {
    height: auto;
    max-height: 8;
    margin-bottom: 1;
    padding: 1;
}

.text-area--cursor-line {
    background: $surface;
}

Screen {
    align: center top;
}

#content {
    width: auto;
    max-width: 80;
}

#messages {
    scrollbar-size-vertical: 0;
}

.msg-container {
    height: auto;
}

.msg {
    width: auto;
    max-width: 70w;
    height: auto;
    max-height: 50;
    padding: 1;
    margin-bottom: 1;
    background: $boost;
}

.msg.right {
    border-right: solid red;
}

.msg.left {
    border-left: solid blue;
}

.right {
    align: right middle;
}

.msg-text {
    text-overflow: fold;
    max-width: 100%;
}

.author {
    color: $foreground-muted;
}

.notification {
    height: auto;
    color: $foreground-muted;
    text-align: center;
    align: center middle;
    width: 100%;
    margin-bottom: 1;
}

